extends ../layout

block content
    a(href='/bicycles/create') New Bicycle
    br
    a(href='/bicycles/read') See detailed Bicycles
    br
    br
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Model
                th(scope='col') Ubication
                th(scope='col')
                th(scope='col')
        tbody
            each bici in bikes
                tr
                    td(scope='row')= bici.code
                    td= bici.color
                    td= bici.model
                    td= bici.ubication
                    td
                        a.btn(href='bicycles/' + bici.id + '/update') Edit
                    td
                        form.form-inline(method='POST' action='bicycles/' + bici.id +'/delete')
                            button.btn(type='submit' name='submitParam' value='submitValue') Delete